<!DOCTYPE html>
<html lang="pt">
<head>
<title>Clube Judo Total</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Ubuntu'>
<link rel='stylesheet' href='links.css'>
<link rel='stylesheet' href='master.css'>
</head>
<body>

<!-- HEADER -->
<div class="header">
  <img class="header-logo" src="images/alt.png"
      alt="Judo Total. Adapta-se a ti.">
  <a href="#"><img class="header-flag" src="images/gb.png"></a>
  <a href="#"><img class="header-flag" src="images/pt.png"></a>
</div>

<!-- NAVIGATION BAR -->
<div id="navbar">
  <a href="home.htm" class="left">Home</a>
  <div class="dropdown">
    <button class="dropbtn">Judo</button>
    <div class="dropdown-content">
      <a href="#">Link1</a>
      <a href="#">Link2</a>
      <a href="#">Link3</a>
    </div>
  </div>
  <div class="dropdown">
    <button class="dropbtn">Clube</button>
    <div class="dropdown-content">
      <a href="#">Link1</a>
      <a href="#">Link2</a>
      <a href="#">Link3</a>
    </div>
  </div>
  <a href="#" class="left">Notícias</a>
  <a href="#" class="left">Calendário</a>
  <a href="#" class="left">Fotos</a>
  <a href="links.htm" class="left active">Links</a>
  <a href="#"><i class="fa fa-facebook-official"></i></a>
</div>

<!-- LINKS -->
<div class="content">
  <div class="list">
    <h1>Links</h1>
    <ul>
      <li><a href="#">Kodokan</a></li>
      <li><a href="#">Federação Internacional de Judo</a></li>
      <li><a href="#">União Europeia de Judo</a></li>
      <li><a href="#">Ippon.org</a></li>
      <li><a href="#">JudoInside</a></li>
      <li><a href="#">Judo Info</a></li>
      <li><a href="#">Federação Internacional de Desportos para Cegos</a></li>
      <li><a href="#">Federação Portuguesa de Judo</a></li>
      <li><a href="#">Comité Paralímpico de Portugal</a></li>
      <li><a href="#">Federação Portuguesa de Desporto para Pessoas com Deficiência</a></li>
      <li><a href="#">Associação Distrital de Judo de Lisboa</a></li>
      <li><a href="#">Plano Nacional de Ética no Desporto</a></li>
      <li><a href="#">Instituto Nacional para a Reabilitação</a></li>
    </ul>
  </div>
</div>

<!--SPONSORS-->
<div class="sponsors">
  <img style="width: 13%; height: auto" src="images/tori_sport.jpg" alt="Tori Sport">
  <img style="width: 20%; height: auto" src="images/Logo_CML.svg" alt="Câmara Municipal de Lisboa">
</div>

<!--FOOTER-->
<div class="footer">
  <img class="footer-logo" src="images/boneco.svg">
  <div class="footer-info">
    <table>
      <tr>
        <td id="table-right">Local de treino:</td>
        <td>Pista Prof. Moniz Pereira,</td>
      </tr>
      <tr>
        <td></td>
        <td>Rua João Amaral,</td>
      </tr>
      <tr>
        <td></td>
        <td>Ameixoeira, Lisboa.</td>
      </tr>
    </table>
    <table>
      <tr>
        <td id="table-right">Telemóvel:</td>
        <td>917 198 051</td>
      </tr>
      <tr>
        <td></td>
        <td>917 923 302</td>
      </tr>
      <tr>
        <td></td>
        <td style="padding-bottom: 1em;">925 408 153</td>
      </tr>
      <tr>
        <td id="table-right">Email:</td>
        <td>clube@judototal.com</td>
      </tr>
    </table>
  </div>
</div>

<script>
// Execute myFunction when the user scrolls the page
window.onscroll = function() {
  myFunction()
};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}
</script>

</body>
</html>
