{% extends "../layouts/base.twig" %}

{% block content %}
<link rel='stylesheet' href='/css/news.css'>
  <div class="row">
    <div class="main">
  {% if seccao.estado == 'publicada' %}
   
      <h1>{{seccao.titulo}}</h1></span>
      {% if seccao.imagem.filename %}
         <img src="/images/{{seccao.imagem.filename}}" style="max-width:100%">
      {% endif %}
          <p>
            {{seccao.textoSeccao}}
          </p>
	  <br><span>{{seccao._.publicadoEm.format('YYYY-MM-DD H:m')}}<br>
   
  {% endif %}
    </div>
  </div>
{% endblock %}
