/* MAIN COLUMN AND SIDEBAR CONTAINER */
.row {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 3em; /* Creates space between main content and footer */
}

/* MAIN COLUMN */
.main {
  flex: 74%; /* Set the width of the main content */
  margin-left: 1%; /* The grid must not be too close from the left edge of the webpage and the sidebar */
  padding-right: 1.5em;
}

/* Style of the news grid */
.news-grid {
  display: grid;
  grid-template-rows: auto auto; /* Rows have the same height */
  height: 50%;
  grid-template-columns: 65% 35%;
  grid-gap: 0.5em;
  margin-bottom: 1.5em; /* Creates space between the news grid and the events */
}

.news-grid > a {
  background-repeat: no-repeat;
  background-size: cover; /* The image fills the whole grid cell */
  color: white;
}

.news-grid > a:hover {
  background-repeat: no-repeat;
  background-size: cover; /* The image fills the whole grid cell */
  color: #cd171e;
}

.cell1 {
  display: block;
  position: relative;
  grid-row: 1 / span 2;
}

.cell2 {
  display: block;
  position: relative;
}

.headline {
  position: absolute;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5); /* Black background with transparency */
  max-width: 100%;
  text-shadow: 2px 2px black;
  font-variant: small-caps;
}

#main-cell {
  padding: 0.4em;
  font-size: 2.5em;
}

#second-cell {
  padding: 0.3em;
  font-size: 1.5em;
}

/* Style of the events */
.events {
  display: flex;
  flex-wrap: wrap;
}

/* Past events table */
.past-events, .future-events {
  flex: 50%; /* Set the width of past and future events */
}

.events table {
  text-align: left;
  border-left: 0.3em solid #cd171e;
  margin-left: 2em;
  padding: 0 1em; /* Space between borders and the text */
}

.events th {
  font-weight: bold;
  font-size: 1.7em;
}

.events td {
  font-size: 1em;
  line-height: 2em;
  text-indent: 0.5em; /* The date of an event is indented */
  font-weight: bold;
  color: #888;
  padding-top: 1.5em; /* Creates space between events */
}

.events a {
  color: black;
  font-size: 1em;
  font-weight: normal;
  text-decoration: none; /* Remove underline */
}

.events a:hover {
  color: #cd171e; /* Red text color */
}

#section-link {
  text-align: center;
  font-size: 1.2em;
  text-decoration: underline;
}

/* SIDEBAR */
.side {
  flex: 24%; /* Set the width of the sidebar */
  margin-right: 1%;
}

.side h1 {
  text-align: center;
  font-weight: bold;
  font-size: 1.7em;
}

.side h2 {
  text-align: center;
  font-weight: bold;
  font-size: 1.2em;
}

.side img {
  width: 50%;
  /* Centers the image relatively to the sidebar */
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.side ul {
  line-height: 1.5em;
  font-size: 1em;
}

#gold_row {
  background-color: #ffd700;
}

#silver_row {
  background-color: #c0c0c0;
}

#bronze_row {
  background-color: #cd7f32;
}

.side table {
  border-collapse: collapse;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.side td {
  padding: 0.5em 0.8em; /* Enlarges table's cells with CJT results */
}

.counters {
  border: solid 0.1em #231f20;
  background-color: rgba(35,31,32,0.8);
  color: white;
  margin-bottom: 1em;
  padding: 1em;
  font-size: 1em;
}

#first-letter {
  font-family: 'Rock Salt';
  font-size: 1.5em;
  color: #cd171e;
}

.jm {
  border: solid 0.1em #dce0df;
  background-color: rgba(220,224,223,0.2);
  padding: 0.5em;
  margin-bottom: 1em;
}

.results {
  border: solid 0.1em #dce0df;
  background-color: rgba(220,224,223,0.2);
  padding: 0.7em;
  margin-bottom: 1em;
}

.btn {
  background-color: transparent;
  border-style: solid;
  border-color: #cd171e;
  cursor: pointer; /* Pointer/hand icon */
  float: left;
  width: 33.3%;
  height: 4em;
}

.btn img {
  float: left;
  width: 30%;
}

.btn:focus {
  outline: none;
}

.active-btn, .btn:hover {
  background-color: #231f20;
}

/* Clear floats (clearfix hack) */
#btn-group:after {
  content: "";
  clear: both;
  display: table;
}

.open {
  border-width: 0.2em 0.1em 0.2em 0.2em;
}

.pt {
  border-width: 0.2em 0.1em;
}

.world {
  border-width: 0.2em 0.2em 0.2em 0.1em;
}
