/* Removes default margins and sets the font used on the website */
body {
  margin: 0;
  font-family: Ubuntu;
}

/*It increases the size of the container, reducing the amount of white space on very large screens */
@media (min-width: 1200px) {
  .container {
      max-width: 1400px;
  }
}

/* HEADER */
.header {
  margin: 0.5em 1em;
  width: 50%;
}

/* NAVIGATION BAR */
.navbar-custom {
  background-color: #231f20;
  padding: 0; /* Removes default padding */
}

.navbar-custom a {
  color: white;
  font-size: 1.1em;
  text-align: center;
}

.navbar-custom .active a {
  background-color: #cd171e;
}

.navbar-custom a:hover {
  background-color: #dce0df;
  color: #cd171e;
}

/* Customizes the social media icons aligned on the right */
.navbar-custom .ml-auto a {
  color: #cd171e;
  font-size: 1.7em;
}

.navbar-custom .ml-auto a:hover {
  background-color: #231f20;
}

/* Properties of the hamburguer icon */
.fa-navicon {
  color: white;
  font-size: 1.5em;
}

/* Behaviour of the dropdown menus */
.dropdown-menu {
  margin: 0;
  padding: 0;
  border: none;
  border-radius: 0;
  background-color: rgba(35, 31, 32, 0.8);
  color: white;
}

.dropdown-menu a {
  text-align: left;
}

.dropdown-toggle::after {
  display: none; /* It removes the arrow indicating the dropdown */
}

/* Sponsors */
.sponsors {
  padding: 1em 0;
}

/* Footer properties */
.footer {
  position: relative;
  background-color: #231f20;
  margin-bottom: 0;
}

.footer-info {
  color: white;
  padding: 3em;
}

.footer-info table {
  margin-left: 4em;
}

.footer-info td {
  padding: 0 0.3em 0.3em 0;
}

#table-right {
  text-align: right;
}

.footer-logo {
  position: absolute;
  right: 0%;
  bottom: 0%;
  opacity: 0.3;
  width: 17em;
  height: auto;
}
